h1, h2, h3, h4{
font: inherit;
}
.reveal code{
max-height:500px;
}
pre{
  position:relative;
}
pre:before{
  /*content:'Run';*/
  position:absolute;
  right:10px;
  top:10px;
  padding:3px 9px;
  background:white;
  color:red;
  border-radius:10px;
}

pre .comment{color:yellow !important;}

.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.5em;
  background:white;
  padding:5px;
  box-sizing: border-box;
}

