.write-less{
  position:absolute;
  top: 126px;
  transform: scale(.8, .8) rotate(12deg);
  -webkit-transform: rotate(12deg);
  left: 105px;
  background: rgba(255, 255, 255, .9);
}

body{
  background: #faf4f1;
  background-image: url("../img/background-shades.svg"), none;
}

html.middle body{
  background: #faf4f1;
  background: url(../img/web.jpg) center 600px repeat-x, url(../img/background-shades.svg);
  background-size: initial;

}

html.jsbinembed iframe{
  height:600px;
}
